/*General styles*/
:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --second-color: #757575;
  --third-color: #ffffff;
  --background-color: #2f303a;
  --border-color: #ececec;
}

.body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--third-color);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.section-title {
  text-align: center;

  color: var(--main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Header*/
header {
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid #ececec;
  border-width: 0 0 1px 0;
}

.header-logo {
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-color);
}

.logo-blue {
  color: var(--accent-color);
}

nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style: none;
  gap: 50px;
}

.current {
  color: var(--accent-color);
}

.icon-envelope,
.icon-smartphone {
  margin-right: 10px;
}

/* contacts */

.link-connection {
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style: none;
  gap: 50px;
}

.link-connection a {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--second-color);
  fill: var(--second-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-connection a:hover,
.link-connection a:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.link-connection a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-thumb {
  position: relative;
}

.studio-line::after,
.portfolio-line::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -33px;
  background-color: #188ce8;
  border-radius: 2px;
}

.header-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

/* Hero */

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-description-bg.img.jpg);
  background-size: cover;
  background-position: center;
}

.section-hero .container {
  display: block;
}

.hero-title {
  margin: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: (calc 60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-color);
}

.button-pointer {
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 32px;

  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-pointer:hover,
.button-pointer:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* .is-hidden { 
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}*/

.modal {
  position: absolute;
  height: 581px;
  width: 528px;
  left: 50%;
  top: 50%;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms var(--cubic), scale 250ms var(--cubic),
    opacity 250ms var(--cubic);
}
/* close button */
.modal > button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--third-color);
  cursor: pointer;
  transition: fill 250ms var(--cubic);
}
.modal > button:hover,
.modal > button:focus {
  fill: var(--accent-color);
}
form p {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  color: #212121;
}
.modal-input {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  transition: border-color 250ms var(--cubic), fill 250ms var(--cubic);
}
.modal-input:focus-visible,
.modal-input:hover {
  outline: none;
  border-color: var(--accent-color);
}
.modal-input:focus ~ .input-icon,
.modal-input:hover ~ .input-icon {
  fill: var(--accent-color);
}
.input-line {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}
.input-line label {
  padding-bottom: 4px;
}
.input-icon {
  position: absolute;
  left: 13px;
  top: 50%;

  fill: var(--main-color);
}

.modal-feedback {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms var(--cubic);
}
.modal-feedback:focus,
.modal-feedback:hover {
  outline: none;
  border-color: var(--accent-color);
}
/* label */
.checkbox-agree {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  margin: 20px auto 30px;
}
.checkbox-agree input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
}
.checkbox-agree a {
  line-height: 1.7;
  margin-left: 5px;
  color: var(--accent-color);
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: #2196f3;
  background-image: url(../img/check-mark.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.submit {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--third-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--cubic);
}

.submit:hover,
.submit:focus {
  background-color: #188ce8;
}

/*About description*/
.section-description {
  padding-bottom: 0px;
}

.text {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
}

.features p {
  width: 270px;
}

.feature-icon {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-description p {
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 1.7;
}

.title {
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.task {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/*Developments*/

.developments {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  gap: 30px;
}

.about-title {
  margin: 0 0 50px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--main-color);
}

.developments-item {
  position: relative;
}

.development-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/*About team*/
.section-team {
  background: #f5f4fa;
}

.team {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.team-title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--main-color);
}

.caption {
  color: var(--main-color);
  line-height: 1.2;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-item {
  background-color: var(--third-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .social-item:last-child {
  margin-right: 0;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.social-item {
  fill: #afb1b8;
}

.social-item:hover,
.social-item:focus {
  background-color: #188ce8;
  border-radius: 50%;
  fill: var(--third-color);
}

.card-content {
  padding: 30px 15px;
}

.social-icons {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* background-color: chartreuse; */
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
}

.team-photos .team-item {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.section-team p {
  text-align: center;
  line-height: 1.7;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/*About clients*/
.client-title {
  margin-bottom: 50px;
}

.client-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

.client-link:hover,
.client-card:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.client-thumb {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  margin-bottom: 94px;
  padding: 0;
}

.client-thumb .client-item {
  width: 170px;
  height: 92px;
  /* background-color: aqua; */
}

.client-thumb .client-item:last-child {
  margin-right: 0;
}

/*Footer*/
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .container {
  display: flex;
  align-items: baseline;
}

.logo-white {
  color: var(--third-color);
}

.foot-logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--third-color);
  text-decoration: none;
}

.address-item {
  margin-bottom: 9px;
}

.contact {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.join-us {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 70px;
}

.join-us-title {
  margin: 0;
  text-align: start;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #fff;
}

.join-us-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.join-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.join-social {
  fill: #ffffff;
  background-color: #44454e;
  border-radius: 50%;
}

.join-social:hover,
.join-social:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}
/* SUBSCRIBTION */
.subscribe {
  display: flex;

  align-items: baseline;
  margin-left: 70px;
}
.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe label {
  display: inline-block;
  margin-bottom: 20px;
  text-align: start;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: #fff;
}
.subscribe input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  color: var(--third-color);
}

.subscribe button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--third-color);
}
.icon-send {
  display: inline-block;
  fill: var(--third-color);
  margin-left: 10px;
}

/* PORTFOLIO */
.section-filters .container {
  display: block;
}

.filter-item .button {
  text-align: center;
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
  color: var(--main-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item .button:hover,
.filter-item .button:focus {
  color: var(--third-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin-bottom: 50px;
  margin-top: 0px;
  gap: 8px;
}

.content {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 30px;
}

.card {
  flex-basis: calc((100% - 60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-content {
  padding: 20px 15px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.content a:hover,
.content a:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-content p {
  margin-left: 0;
}

a {
  text-decoration: none;
}

.button {
  font-family: inherit;
  border: none;
}

.card-caption {
  margin: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.card-text {
  margin-top: 4px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: var(--second-color);
  letter-spacing: 0.03em;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  display: flex;
  padding: 63px 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.card:hover .overlay-text,
.card:focus .overlay-text {
  transform: translateY(0%);
}
